@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Define custom scrollbar styles for each droppable section */
.red-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  
.red-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
.red-scrollbar::-webkit-scrollbar-thumb {
    background: #f56565;
  }
  
.yellow-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  
.yellow-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
.yellow-scrollbar::-webkit-scrollbar-thumb {
    background: #ecc94b;
  }
  
.green-scrollbar::-webkit-scrollbar {
    width: 12px;
  }
  
.green-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
.green-scrollbar::-webkit-scrollbar-thumb {
    background: #48bb78;
  }
  